#tools {
  display: block;
  position:absolute;
  top:0;
  font-size:0.9em;
}

#tools input {
  width:10em;
}

#pedVelocity_ {
    background-color: #EE0000;
}

#otherVelocity_ {
   background-color: #000022;
}

#relativeVelocity_ {
    background-color: #EE00EE;
}

#E_ {
    background-color: #00EEEE;
}

#interactionVector_ {
    background-color: #999900;
}

#result_ {
    background-color: black;
}

#forceVelocity_ {
    background-color: #0000FF;
}

#forceAngle_ {
    background-color: #00FF00;
}
